html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid:
    "header" auto
    "main" 1fr
    "footer" auto;
    gap: 8px;
    background: #efefef;
}

/* HEADER DE LA WEB */

.nosik-header {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    gap: 20px;
    background: #909090;
}

.nosik-header-logo img {
    width: 70px;
    height: 50px;
}

.nosik-header-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nosik-header-list li {
    margin-right: 20px;
    display: inline-block;
    text-align: center;
}

.nosik-header-list li:last-child {
    margin-right: 0;
}

.nosik-header-list a {
    text-decoration: none;
    color: white;
}

/* CARRITO DE COMPRA */

.nosik-header-shopping-cart {
    position: relative;
}

.nosik-cart-counter {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#cart-count {
    font-size: 12px;
}

.hidden {
    display: none;
}

.hidden-cart {
    display: none;
}

.nosik-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.8;
}

.cart-product-amount {
    font-weight: 400;
    font-size: 20px;
}

.cart-product-name {
    font-size: 20px;
}

.cart-product-price {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.delete-icon{
    width: 25px;
    height: 25px;
}

.delete-icon:hover{
    stroke: red;
    cursor: pointer;
}

.nosik-cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.nosik-cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.cart-total-topay {
    font-size: 20px;
    font-weight: 900;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

/* MAIN DE LA WEB */

.nosik-main {
    grid-area: main;
    margin-top: 75px;
}

.nosik-main-container {
    margin: 30px;
}


/* PÁGINA DE SOBRE MI */

.container {
    border-radius: 10px;
    padding: 20px;
}

.nosik-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightslategrey;
    margin-bottom: 15px;
}

.nosik-about-photo {
    width: 200px;
    height: 90px;
    top: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.nosik-about-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: auto;
}

.nosik-about-name{
    text-align: center;
}

.nosik-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightslategrey;
}

/* PÁGINA DE LA GALERÍA */

.nosik-gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 45px;
}

.nosik-gallery-artwork {
    width: 250px;
    border: 0.5px solid #acacac;
    border-radius: 5px;
    cursor: pointer;
    background: white;
}

.nosik-gallery-artwork:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.painting {
    overflow: hidden;
}

.painting img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    transition: all .5s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.paiting-info {
    padding: 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.art-description {
    display: none;
}

/* PÁGINA DE LA DETALLES */

.nosik-art-piece {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
}

.nosik-art-piece .image {
    padding: 3px;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.nosik-art-piece .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.art-piece-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}

.art-piece-info .name {
    font-size: 24px;
}

.art-piece-info .description {
    font-size: 16px;
    margin-top: 10px;
}

.art-piece-pay-zone {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #8d8d8d;
}

.button {
    cursor: pointer;
}

.buy-now {
    margin-top: 7px;
}

/* FOOTER DE LA WEB */

.nosik-footer {
    grid-area: footer;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #484848;
}